.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Heading*/

h1 {
  font-size: 30px;
  margin-top: 20px;
}

/*BUTTONS*/

.btn:hover {
  border: none;
}

.btn-primary {
  background-color: #0078bf;
}

.btn-close {
  background-color: #777777;
  color: #ffffff;
  border-color: #ced4da;
}

.btn-close:hover,
.btn-close:focus,
.btn-close:active {
  background-color: #c9343b;
}

/*Forms*/

label {
  font-size: 14px;
}

.form-check-input.is-valid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
  /* color: #dc3545; */
}
.was-validated .form-control:invalid {
  background-image: none;
}
.was-validated .form-control:valid {
  background-image: none;
}
.invalidcontrol {
  border-color: red !important;
}

.was-validated .form-check-input:valid ~ .form-check-label {
  color: #212529;
}
